<!-- Header -->
<header id="header" {{ if eq .Params.layout "home" }}class="alt"{{ end }}>
    <h1><a href="{{ "/" | relURL }}">{{ .Site.Title }}</a></h1>
    <nav id="nav">
        <ul>
            <li class="special">
                <a href="#menu" class="menuToggle"><span>Menu</span></a>
                <div id="menu">
                    <ul>
                        {{ range $item := .Site.Menus.main }}
                            <li><a href="{{ $item.URL | relURL }}">{{ $item.Name }}</a></li>
                        {{ end }}
                        {{ range $action := .Site.Data.menu.actions }}
                            <li><a href="{{ if strings.HasPrefix $action.url "#" }}{{ $action.url }}{{ else }}{{ $action.url | relURL }}{{ end }}">{{ $action.label }}</a></li>
                        {{ end }}
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
</header>
